@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: 0.1s ease-in-out; }

.container-fluid {
  padding: 0px; }

/*Nav Styling*/
nav, .navbar, .navbar-default {
  margin: 0px;
  padding-bottom: 14px;
  border-bottom: #2098d1;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  /*
    background: #2c3e50; 
    background: -webkit-linear-gradient(to left, #2098d1,#2098d1 , #04B0E3);
    background: linear-gradient(to left, #2098d1 , #2098d1, #04B0E3); */
  background: black;
  color: white; }

.navbar-brand, a.navbar-brand {
  margin: 0px;
  padding-top: 2px;
  padding-left: 20px; }

.navbar-brand img {
  border-radius: 10px; }

ul.portfolioperson li:first-child {
  padding-top: 16px;
  font-size: 1.5em; }

ul.nav li, ul.nav li i {
  padding-top: 16px; }

ul.navlinks {
  position: relative;
  text-align: center;
  margin: 0 auto;
  left: 50px; }

ul.navlinks li {
  display: inline-block;
  font-size: 1.2em; }

.navbar-default .navbar-nav > li > a {
  /*Underline transition effect*/
  color: white;
  position: relative;
  text-decoration: none; }

.navbar-default .navlinks > li > a:hover {
  color: aqua; }

.navbar-default .navlinks > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.navbar-default .navlinks > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

ul.nav li i {
  margin: auto 20px;
  font-size: 1.7em; }

ul.socialicons {
  margin-left: 0px; }

ul.socialicons a {
  color: white;
  transition: 0.1s linear; }

ul.socialicons li i:hover {
  color: aqua; }

ul.socialicons li a {
  padding: 0px;
  width: 5%; }

ul.socialicons li i {
  width: 100%;
  text-align: center;
  margin: 0 20px; }

.navbar-default .socialicons > li > a:hover {
  color: white; }

#overlaycontainer {
  position: relative;
  box-shadow: 0 0 5px white;
  height: 600px;
  text-align: center;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; }

.centerbannertext p {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding: 10px 15px;
  top: 150px;
  font-size: 2em;
  line-height: 150%;
  text-align: center;
  color: black;
  font-family: "Raleway", sans-serif; }

.centerbannertext p:first-child {
  padding: 5px;
  font-size: 3em;
  font-family: "Open Sans", sans-serif; }

.centerbannertext p:nth-of-type(2) span.skillset {
  display: block;
  font-size: 0.5em; }

.centerbannertext a p:nth-of-type(3) {
  font-size: 0.5em; }

a.portfoliobutton p, a.portfoliobutton {
  text-decoration: none;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.15);
  width: 10%;
  border-radius: 10px;
  box-shadow: 0 5px 5px black; }

a.portfoliobutton p:first-child {
  font-size: 1.5em; }

a.portfoliobutton p:hover {
  background-color: rgba(0, 0, 0, 0.2); }

a.portfoliobutton:hover span.fa-angle-down {
  color: aqua; }

.centerbannertext ul {
  position: relative;
  top: 150px; }

.centerbannertext ul li {
  display: inline;
  padding: 10px; }

.centerbannertext img {
  transition: ease-in-out 0.25s; }

.centerbannertext ul li a img:hover, .contactstyling ul li img:hover {
  box-shadow: 0 0 10px black; }

span.fa-angle-down {
  display: block; }

a.worklink:link {
  color: #006FE3; }

a.worklink:visited {
  color: #006FE3; }

/*##############################################*/
#aboutstyling {
  background-color: rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.aboutpersonimg img {
  display: block;
  margin: auto;
  box-shadow: 0 0 5px black; }

.aboutperson {
  border-left: solid black 1px; }

.mobileabout {
  display: none; }

.aboutperson h2, .headingtwoformat {
  text-align: center;
  font-size: 3em;
  font-family: "Roboto", sans-serif; }

.aboutperson p:first-child, .aboutperson p:nth-of-type(2) {
  width: 90%;
  padding: 0px 20px;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
  line-height: 175%; }

span.mobilesecondparagraph {
  display: block;
  margin-top: 20px; }

#skillspacing {
  margin-top: 50px; }

ul.skilllist {
  text-align: center;
  width: 78%;
  margin: 0 auto; }

ul.skilllist li {
  display: inline;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px; }

ul.progress-style li {
  display: inline;
  list-style-type: none; }

.progress-style {
  width: 100%;
  margin: 0 auto; }

.novice {
  background-color: green; }

.journeyman {
  background-color: deepskyblue; }

.epic {
  background-color: purple; }

.legendary {
  background-color: orangered; }

/******************************************/
.projectdivider {
  margin-top: 30px; }

.projectdivider h3 {
  text-align: center;
  font-family: "Roboto", sans-serif; }

.projectdivider .col-lg-4 {
  margin-bottom: 10px; }

.projectdivider .col-lg-4 img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.projectdivider a img {
  display: block;
  margin: 0 auto; }

.projectdivider a img:hover {
  box-shadow: 0 0 10px aqua; }

.contactstyling {
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: 30px;
  padding: 40px;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.3); }

.contactstyling h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.8em; }

.contactstyling p {
  font-size: 1.6em;
  margin-left: 50px;
  margin-top: 16px;
  font-family: "Open Sans", sans-serif; }

.contactstyling ul {
  display: table;
  margin: 0 auto; }

.contactstyling li {
  list-style-type: none;
  padding: 14px; }

@media screen and (max-width: 1500px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 13%; } }

@media screen and (max-width: 1200px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 15%; }
  .progress-style li p {
    font-size: 0.9em; }
  .centerbannertext p {
    width: 70%;
    font-size: 2em; }
  .aboutpersonimg img {
    margin-bottom: 30px; } }

@media screen and (max-width: 980px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 20%; } }

@media screen and (max-width: 800px) {
  .aboutperson .non-mobileabout {
    display: none; }
  .aboutperson .mobileabout {
    display: block; }
  a.portfoliobutton p, a.portfoliobutton {
    width: 23%; }
  .aboutperson p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4em; }
  .progress-style .col-xs-10 {
    width: 80%;
    margin: 0 auto; }
  ul.skilllist {
    width: 70%; }
  .progress-style li p {
    font-size: 0.8em; }
  a.navbar-brand img {
    height: 55px;
    width: 55px; }
  .contactstyling p {
    text-align: center; } }

@media screen and (max-width: 700px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 26%; }
  .centerbannertext p {
    font-size: 1.7em; } }

@media screen and (max-width: 600px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 30%; }
  .centerbannertext p {
    font-size: 1.5em;
    width: 85%; }
  #overlaycontainer {
    height: 400px; }
  .centerbannertext ul {
    top: 90px; }
  .aboutperson p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4em; }
  .aboutpersonimg img {
    max-height: 200px;
    max-width: 275px; }
  .progress-style .col-xs-10 {
    width: 90%;
    margin: 0 auto; }
  ul.skilllist {
    width: 100%; }
  .aboutperson {
    font-size: 0.8em; }
  .progress-style li p {
    font-size: 1em; }
  .centerbannertext img {
    max-width: 50px;
    max-height: 50px; }
  .centerbannertext ul {
    top: 120px; }
  #aboutstyling {
    padding: 15px; }
  .aboutperson p {
    width: 100%; }
  .aboutpersonimg img {
    max-height: 195px;
    max-width: 235px; }
  .projectdivider .col-lg-4 img {
    max-height: 225px;
    max-width: 275px; } }

@media screen and (max-width: 500px) {
  .centerbannertext p.titlestyling {
    width: 100%;
    font-size: 2.5em;
    top: 125px; }
  a.portfoliobutton p, a.portfoliobutton {
    width: 35%; }
  a.portfoliobutton p:first-child {
    font-size: 1.2em; }
  .aboutpersonimg img {
    max-height: 150px;
    max-width: 200px; } }

@media screen and (max-width: 370px) {
  .aboutperson p:first-child, .aboutperson p:nth-of-type(2) {
    width: 100%;
    padding: 0px 10px;
    font-size: 1.3em; }
  .centerbannertext p {
    top: 100px;
    font-size: 1.5em; }
  .centerbannertext p.titlestyling {
    font-size: 2.1em;
    margin-bottom: 25px; }
  a.portfoliobutton p, a.portfoliobutton {
    width: 42%; }
  .progress-style .col-xs-10 {
    width: 100%; }
  .contactstyling p {
    font-size: 1.3em; } }
