@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transition: 0.1s ease-in-out; }

span.breaksection {
  display: block;
  margin-bottom: 16px; }

.container-fluid {
  padding: 0px; }

.col-lg-offset-2 {
  margin-left: 21%; }

/*#####################Nav Styling#########################*/
nav, .navbar, .navbar-default {
  margin: 0px;
  padding-bottom: 14px;
  border-bottom: #2098d1;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  background: #292928;
  color: white;
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: 0 1px 4px #333; }

.navbar-brand, a.navbar-brand {
  margin: 0px;
  padding-top: 2px;
  padding-left: 20px; }

.navbar-brand img {
  border-radius: 10px; }

ul.portfolioperson li:first-child {
  padding-top: 16px;
  font-size: 1.5em; }

ul.nav li, ul.nav li i {
  padding-top: 16px; }

ul.navlinks {
  position: relative;
  text-align: center;
  margin: 0 auto;
  left: 50px; }

ul.navlinks li {
  display: inline-block;
  font-size: 1.2em; }

.navbar-default .navbar-nav > li > a {
  /*Underline transition effect*/
  color: white;
  position: relative;
  text-decoration: none; }

.navbar-default .navlinks > li > a:hover {
  color: aqua; }

.navbar-default .navlinks > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.navbar-default .navlinks > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

ul.nav li i {
  margin: auto 20px;
  font-size: 1.7em; }

ul.socialicons {
  margin-left: 0px;
  display: inline;
  float: right; }

ul.socialicons li {
  display: inline; }

ul.socialicons a {
  color: white;
  transition: 0.1s linear; }

ul.socialicons li i {
  width: 100%;
  text-align: center;
  margin: 0 20px; }

ul.socialicons li a {
  padding: 0px;
  width: 5%; }

ul.socialicons li i:hover {
  color: aqua; }

.navbar-default .socialicons > li > a:hover {
  color: white; }

/******************************************/
/*#####################Banner Section#########################*/
#overlaycontainer {
  position: relative;
  box-shadow: 0 0 5px white;
  height: 600px;
  text-align: center;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; }

.centerbannertext p {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding: 10px 15px;
  top: 150px;
  font-size: 2em;
  line-height: 150%;
  text-align: center;
  color: black;
  font-family: "Raleway", sans-serif; }

.centerbannertext p:first-child {
  padding: 5px;
  font-size: 3em;
  font-family: "Open Sans", sans-serif; }

.centerbannertext p:nth-of-type(2) span.skillset {
  display: block;
  font-size: 0.5em; }

.centerbannertext a p:nth-of-type(3) {
  font-size: 0.5em; }

a.portfoliobutton p, a.portfoliobutton {
  text-decoration: none;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.15);
  width: 10%;
  border-radius: 10px;
  box-shadow: 0 5px 5px black; }

a.portfoliobutton p:first-child {
  font-size: 1.5em; }

a.portfoliobutton p:hover {
  background-color: rgba(0, 0, 0, 0.2); }

a.portfoliobutton:hover span.fa-angle-down {
  color: aqua; }

.centerbannertext ul {
  position: relative;
  top: 150px; }

.centerbannertext ul li {
  display: inline;
  padding: 10px; }

.centerbannertext img {
  transition: ease-in-out 0.25s; }

.centerbannertext ul li a img:hover, .contactstyling ul li img:hover {
  box-shadow: 0 0 10px black; }

span.fa-angle-down {
  display: block; }

/*#####################About Section#########################*/
#aboutstyling {
  background-color: rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }

.aboutpersonimg img {
  display: block;
  margin: auto;
  box-shadow: 0 0 5px black; }

.aboutperson {
  border-left: solid black 1px; }

.mobileabout {
  display: none; }

.aboutperson h2, .headingtwoformat {
  text-align: center;
  font-size: 3em;
  font-family: "Roboto", sans-serif; }

.aboutperson p:first-child, .aboutperson p:nth-of-type(2) {
  width: 90%;
  padding: 0px 20px;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
  line-height: 175%; }

span.mobilesecondparagraph {
  display: block;
  margin-top: 20px; }

#skillspacing {
  margin-top: 50px; }

ul.skilllist {
  text-align: center;
  width: 78%;
  margin: 0 auto; }

ul.skilllist li {
  display: inline;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px; }

ul.progress-style li {
  display: inline;
  list-style-type: none; }

.progress-style {
  width: 100%;
  margin: 0 auto; }

.novice {
  background-color: rgba(0, 125, 0, 0.8); }

.journeyman {
  background-color: deepskyblue; }

.epic {
  background-color: purple; }

.legendary {
  background-color: orangered; }

/******************************************/
.projectdivider .row {
  box-sizing: border-box;
  margin-right: 0.999%;
  margin-left: 0; }

.projectdivider ul {
  list-style-type: none; }

.projectdivider ul li {
  display: inline; }

.firstrow li {
  width: 103.1%;
  position: relative;
  overflow: hidden; }

.firstrow img {
  width: 103.1%;
  max-height: 360px;
  height: 360px; }

.projectdivider .col-lg-4 {
  padding: 0px; }

.projectdivider {
  margin-top: 0px; }

.projectdivider h3 {
  text-align: center;
  font-family: "Roboto", sans-serif; }

.projectdivider a img {
  display: block;
  margin: 0; }

.projectdivider a img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.appdescription {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 103.1%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0; }

.appdescription.heighttransition {
  position: absolute;
  opacity: 1;
  top: 300px !important; }

/*#####################Footer Section#########################*/
footer .fa {
  font-size: 2.5em; }

footer a {
  color: black; }

footer a:hover {
  color: aqua; }

.footernavlinks p, .footersociallinks p {
  font-size: 1.2em;
  margin-left: 0px;
  margin-top: 16px;
  font-family: "Open Sans", sans-serif;
  width: 80%; }

.footernavlinks a {
  font-size: 1.5em; }

.contactstyling {
  background-color: rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-top: 0;
  padding: 40px;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.3); }

.contactstyling h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.8em; }

.contactstyling ul {
  display: table;
  margin: 0 auto; }

.contactstyling li {
  list-style-type: none;
  padding: 14px; }

.blogformat h1, .blogarticle h1 {
  position: relative;
  margin-top: 100px;
  font-size: 3.5em;
  font-family: "Roboto", sans-serif; }

.blogformat h2 {
  position: relative;
  margin-top: 25px;
  font-size: 2em;
  font-family: "Roboto", sans-serif; }

.blogarticle {
  width: 50%; }

.blogarticle h1 {
  font-size: 4em;
  text-align: center;
  text-transform: capitalize; }

.blogarticle .articleparagraph, .articleparagraph ul li {
  margin: 24px 0px;
  font-size: 1.3em;
  line-height: 175%;
  font-family: "Open Sans", sans-serif;
  list-style-type: none; }

.articleparagraph li {
  margin: 24px 0; }

@media screen and (max-width: 1500px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 13%; } }

@media screen and (max-width: 1200px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 15%; }
  .progress-style li p {
    font-size: 0.9em; }
  .centerbannertext p {
    width: 70%;
    font-size: 2em; }
  .aboutpersonimg img {
    margin-bottom: 30px; }
  .firstrow img, .secondrow img, .thirdrow img, .fourthrow img {
    height: 300px; }
  .projectdivider .row {
    margin-right: 2%; } }

@media screen and (max-width: 980px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 20%; }
  .firstrow img, .secondrow img, .thirdrow img, .fourthrow img {
    height: 250px; } }

@media screen and (max-width: 800px) {
  ul.socialicons {
    float: right; }
  ul.navlinks {
    float: left; }
  .aboutperson .non-mobileabout {
    display: none; }
  .aboutperson .mobileabout {
    display: block; }
  a.portfoliobutton p, a.portfoliobutton {
    width: 23%; }
  .aboutperson p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4em; }
  .progress-style .col-xs-10 {
    width: 80%;
    margin: 0 auto; }
  ul.skilllist {
    width: 70%; }
  .progress-style li p {
    font-size: 0.8em; }
  a.navbar-brand img {
    height: 55px;
    width: 55px; }
  .contactstyling p {
    text-align: center; } }

@media screen and (max-width: 766px) {
  .firstrow img {
    height: 360px; }
  .projectdivider .row {
    margin-right: 4%; } }

@media screen and (max-width: 700px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 26%; }
  .centerbannertext p {
    font-size: 1.7em; } }

@media screen and (max-width: 600px) {
  a.portfoliobutton p, a.portfoliobutton {
    width: 30%; }
  .centerbannertext p {
    font-size: 1.5em;
    width: 85%; }
  #overlaycontainer {
    height: 400px; }
  .centerbannertext ul {
    top: 90px; }
  .aboutperson p {
    width: 100%;
    margin: 0 auto;
    font-size: 1.4em; }
  .aboutpersonimg img {
    max-height: 200px;
    max-width: 275px; }
  .progress-style .col-xs-10 {
    width: 90%;
    margin: 0 auto; }
  ul.skilllist {
    width: 100%; }
  .aboutperson {
    font-size: 0.8em; }
  .progress-style li p {
    font-size: 1em; }
  .centerbannertext img {
    max-width: 50px;
    max-height: 50px; }
  .centerbannertext ul {
    top: 120px; }
  #aboutstyling {
    padding: 15px; }
  .aboutperson p {
    width: 100%; }
  .aboutpersonimg img {
    max-height: 195px;
    max-width: 235px; } }

@media screen and (max-width: 500px) {
  .centerbannertext p.titlestyling {
    width: 100%;
    font-size: 2.5em;
    top: 125px; }
  a.portfoliobutton p, a.portfoliobutton {
    width: 35%; }
  a.portfoliobutton p:first-child {
    font-size: 1.2em; }
  .aboutpersonimg img {
    max-height: 150px;
    max-width: 200px; }
  .firstrow img {
    height: 275px; } }

@media screen and (max-width: 370px) {
  .aboutperson p:first-child, .aboutperson p:nth-of-type(2) {
    width: 100%;
    padding: 0px 10px;
    font-size: 1.3em; }
  .centerbannertext p {
    top: 100px;
    font-size: 1.5em; }
  .centerbannertext p.titlestyling {
    font-size: 2.1em;
    margin-bottom: 25px; }
  a.portfoliobutton p, a.portfoliobutton {
    width: 42%; }
  .progress-style .col-xs-10 {
    width: 100%; }
  .contactstyling p {
    font-size: 1.3em; } }
