
$aboutAndContactBackground: rgba(0, 0, 0, 0.08);
$paragraphFont: 'Open Sans', sans-serif;
$headingFontAndNav: 'Roboto', sans-serif;

.blogformat {
    margin-top: 1%;
    margin-bottom: 10%;
}

.blogformat h1, .blogarticle h1 {
    position: relative;
    margin-top: 100px;
    font-size: 3.5em;
    font-family: $headingFontAndNav;
}
.blogformat h2 {
    position: relative;
    margin-top: 25px;
    font-size: 2em;
    font-family: $headingFontAndNav;
}
.blogarticle {
    width: 50%;
}
.blogarticle h1 {
    font-size: 4em;
    text-align: center;
    text-transform: capitalize;
}
.blogarticle .articleparagraph, .articleparagraph ul li {
    margin: 24px 0px;
    font-size: 1.3em;
    line-height: 175%;
    font-family: $paragraphFont;
    list-style-type: none;
}
.articleparagraph li {
    margin: 24px 0;
}
