/*******************Main Page Format SCSS********************/
@media screen and (max-width: 1500px) {
    a.portfoliobutton p, a.portfoliobutton {
        width: 13%;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 1200px) {
    a.portfoliobutton p, a.portfoliobutton {
        width: 18%;
    }
    .progress-style li p {
        font-size: 0.9em;
    }
    .centerbannertext p {
        width: 70%;
        font-size: 2em; 
    }
    .aboutpersonimg img {
        margin-bottom: 30px;
    }
    .firstrow img, .secondrow img, .thirdrow img, .fourthrow img {
        height: 300px;
    }
    .projectdivider .row {
        margin-right: 2%;
    }
    .col-lg-offset-2 {
        margin-left: 0%;
    }
    #skillspacing p {
        width: 50%;
    }
}
@media screen and (max-width: 980px) {
    a.portfoliobutton p, a.portfoliobutton {
        width: 20%;
    }
    .firstrow img, .secondrow img, .thirdrow img, .fourthrow img {
        height: 250px;
    }
}
@media screen and (max-width: 800px) {
    ul.navlinks {
        float: left;
    }
    ul.socialicons {
        float: right;
    }
    .aboutperson .non-mobileabout {
        display: none;
    }
    .aboutperson .mobileabout {
        display: block;
    }
    a.portfoliobutton p, a.portfoliobutton {
        width: 23%;
    }
    .aboutperson p {
        width: 100%;
        margin: 0 auto;
        font-size: 1.4em;
    }
    .progress-style .col-xs-10 {
        width: 80%;
        margin: 0 auto;
    }
    ul.skilllist {
        width: 70%;
    }
    .progress-style li p {
        font-size: 0.8em;
    }
    .contactstyling p {
        text-align: center;
    }
}
@media screen and (max-width:766px) {
    .firstrow img {
        height: 360px;
    }
    .projectdivider .row {
        margin-right: 4%;
    }
    a.navbar-brand img {
        height: 46px;
        width: 46px;
    }
}
@media screen and (max-width: 700px) {
    a.portfoliobutton p, a.portfoliobutton {
        width: 26%;
    }
    .centerbannertext h2 {
        font-size: 1.7em; 
    }
}
@media screen and (max-width: 600px) {
    a.portfoliobutton p, a.portfoliobutton {
        width: 30%;
    }
    .centerbannertext h2 {
        font-size: 1.5em; 
        width: 85%;
    }
    #overlaycontainer {
        height: 400px;
    }
    .centerbannertext ul {
        top: 90px;
    }
    .aboutperson p {
        width: 100%;
        margin: 0 auto;
        font-size: 1.4em;
    }
    .aboutpersonimg img{
        max-height: 200px;
        max-width: 275px;
    }
    .progress-style .col-xs-10 {
        width: 90%;
        margin: 0 auto;
    }
    ul.skilllist {
        width: 100%;
    }
    .aboutperson {
        font-size: 0.8em;
    }
    .progress-style li p {
        font-size: 1em;
    }
    .centerbannertext img {
        max-width: 50px;
        max-height: 50px;
    }
    .centerbannertext ul {
        top: 120px;
    }
    #aboutstyling {
        padding: 15px;
    }
    .aboutperson p {
        width: 100%;
    }
    .aboutpersonimg img{
        max-height: 195px;
        max-width: 235px;
    }
}
@media screen and (max-width: 500px) {
    .centerbannertext h1 {
        width: 100%;
        font-size: 2.5em; 
        top: 125px;
    }
    a.portfoliobutton p, a.portfoliobutton {
        width: 35%;
    }
    a.portfoliobutton p:first-child {
        font-size: 1.2em;
    }
    .aboutpersonimg img{
        max-height: 150px;
        max-width: 200px;
    }
    .firstrow img {
        height: 275px;
    }
}
@media screen and (max-width: 412px) {
    .aboutperson p:first-child, .aboutperson p:nth-of-type(2){
        width: 100%;
        padding: 0px 10px;
        font-size: 1.3em;
    }
    #skillspacing p  {
        font-size: 1em;
    }
    .centerbannertext h1, .centerbannertext h2 {
        top: 100px;
        width: 100%;
        font-size: 1.3em;
    }
    .centerbannertext h1 {
        font-size: 2.1em; 
    }
    a.portfoliobutton p, a.portfoliobutton {
        width: 42%;
        top: 100px;
    }
    .progress-style .col-xs-10 {
        width: 100%;
    }
    .contactstyling p {
        font-size: 1.3em;
    }
}
/***************************************************/
/*******************BLOG MEDIA QUERIES***************/
@media screen and (max-width: 1000px) {
    .blogarticle {
        width: 75%;
    }
}
@media screen and (max-width: 700px) {
    .blogarticle {
        width: 100%;
    }
    .blogarticle .articleparagraph, .articleparagraph ul li {
        font-size: 1.1em;
    }
    .blogarticle h1 {
        font-size: 2.5em;
    }
}