/*******************Main Page Format SCSS********************/


/******************CARD MEDIA QUERIES***********************/


/***********************************************************/
@media screen and (max-width: 1780px) {
  .about-card, .stats-card, .blog-card {
    width: 31.9%;
    margin: 16px 12px 16px;
  }
  .about-card {
    margin-left: 1.5%;
  }
  .blog-card {
    margin-right: 0%;
  }
  .stats-card {
    margin: 16px 0;
  }
  .stats-card .stats-card-top-background {
    height: 44%;
  }
  .player-portrait {
    margin-top: 15%;
  }
  .skills h2 {
    font-size: 24px;
  }
  .code-skill  {
    font-size: 16px;
  }
}

@media screen and (max-width: 1727px) {
  .stats-card .stats-card-top-background {
    height: 44%;
  }
  .about-card {
    height: 980px;
  }
  .stats-card {
    height: 980px;
  }
  .blog-card {
    height: 980px;
  }
}

@media screen and (max-width: 1674px) {
  .about-card, .stats-card, .blog-card {
    width: 31.5%;
  }
  .about-card {
    margin-left: 2%;
  }
  .stats-card .stats-card-top-background {
    height: 44%;
  }
}

@media screen and (max-width: 1600px) {
    .centerbannertext h1 {
        width: 50%;
        top: 200px;
        left: 300px;
        padding: 5px;
        font-size: 4em;
    }
    .design-skills {
      margin-top: 30px
    }
}

@media screen and (max-width: 1500px) {
    .player-stats {
      font-size: 24px;
    }
    .about-card-bottom p, .view-stats, .player-experience, .blog-card-paragraph {
      font-size: 16px;
    }
    .skillset {
      font-size: 14px;
    }
    .code-skill  {
      font-size: 14px;
    }
    .player-portrait {
      margin-top: 35%;
    }
}

@media screen and (max-width: 1375px) {
  .fa-code, .fa-paint-brush {
    margin: 0;
    padding: 5px;
  }
}

@media screen and (min-width: 1201px) {
  .blog-card-desktop {
    display: block;
  }
  .blog-card-responsive {
    display: none;
  }
  .flexcontainer {
    display: inherit;
  }
}
@media screen and (max-width: 1200px) {
    .blog-card-desktop {
      display: none;
    }
    .flexcontainer {
      -webkit-display: flex;
      display: flex;
    }
    .blog-card-article-title {
      font-size: 20px;
    }
    .blog-card-responsive, .about-card{
      width: 47%;
      display: inline-block;
    }
    .stats-card .player-stats {
      display: none;
    }
    .stats-card {
      width: 100%;
    }
    .stats-card-top img {
      width: 30%;
    }
    .player-portrait-container {
      width: 30%;
      float: left;
    }
    .player-hp-container {
      margin-top: 11%;
    }
    .player-container {
      width: 50%;
      margin: 10px auto;
    }
    .stats-card .stats-card-top-background {
      height: 31%;
    }
    .stats-card .stat-bars {
      position: relative;
      top: 100px;
    }
    .centerbannertext h1 {
        width: 70%;
        top: 200px;
        left: 0px;
        padding: 5px;
        font-size: 4em;
    }
    .centerbannertext p {
        width: 70%;
        font-size: 2em;
    }
    .aboutpersonimg img {
        margin-bottom: 30px;
    }
    .firstrow img, .secondrow img, .thirdrow img, .fourthrow img {
        height: 300px;
    }
    .projectdivider .row {
        margin-right: 2%;
    }
    .col-lg-offset-2 {
        margin-left: 0%;
    }
    #skillspacing p {
        width: 50%;
    }
    .player-experience p {
      width: 75%;
    }
    .stats-card .stats-card-top-background {
      height: 365px;
    }
}

@media screen and (max-width: 1027px) {
  .blog-card-article-title {
    font-size: 19px;
  }
  .blog-card-heading-container {
    padding: 10px;
  }
  .code-skill  {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  ul.navlinks li {
    padding: 10px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 980px) {
    .firstrow img, .secondrow img, .thirdrow img, .fourthrow img {
        height: 250px;
    }
    .blog-card-heading-container {
      padding: 9px;
    }
}

@media screen and (max-width: 872px) {
  .blog-card-heading-container {
    padding: 0;
  }
}


@media screen and (max-width: 800px) {
    ul.navlinks {
        float: left;
    }
    ul.skilllist {
        width: 70%;
    }
    .contactstyling p {
        text-align: center;
    }
}


@media screen and (max-width:767px) {
    nav, .navbar, .navbar-default {
      padding-top: 0px;
      padding-bottom: 25px;
    }
    ul.navlinks li {
      width: 100%;
      text-align: left;
      border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
    }
    .firstrow img {
        height: 360px;
    }
    .projectdivider .row {
        margin-right: 4%;
    }
    a.navbar-brand img {
        top: -11px;
        height: 46px;
        width: 46px;
    }
}
@media screen and (max-width: 751px) {
  .about-card, .stats-card, .blog-card {
    margin-left: 0;
    margin-right: 0;
  }
  .blog-card-responsive {
    display: none;
  }
  .player-experience p {
    width: 100%;
  }
  .blog-card-desktop, .about-card{
    width: 100%;
    display: block;
  }
  .about-card .about-card-top img, .blog-card .blog-card-top img {
    width: 60%;
  }
  .stats-card .stats-card-top img {
    width: 50%;
  }
  .player-container {
    width: 100%;
    margin: 10px auto;
  }
  .player-hp-container {
    margin-top: 2%;
  }
  .player-portrait {
    margin-top: 2%;
  }
}

@media screen and (max-width: 700px) {
    .centerbannertext h2 {
        font-size: 1.7em;
    }
}



@media screen and (max-width: 600px) {
    .banner-menu-down {
      top: 280px;
    }
    .centerbannertext h1 {
        width: 90%;
        top: 50px;
        left: 0px;
        padding: 5px;
        font-size: 3em;
    }
    .centerbannertext h2 {
        font-size: 1.5em;
        width: 85%;
    }
    #overlaycontainer {
      height: 550px;
    }
    .about-card-bottom p {
      padding-top: 25px;
    }
    .centerbannertext ul {
        top: 90px;
    }
    .progress-style .col-xs-10 {
        width: 90%;
        margin: 0 auto;
    }
    ul.skilllist {
        width: 100%;
    }
    .progress-style li p {
        font-size: 1em;
    }
    .centerbannertext img {
        max-width: 50px;
        max-height: 50px;
    }
    .centerbannertext ul {
        top: 120px;
    }
    .stats-card .stats-card-top-background {
      height: 38%;
    }
}

@media screen and (max-width: 530px) {
  .banner-menu-down {
    top: 190px;
  }
  .stats-card .stats-card-top-background {
    height: 46%;
  }
  .player-portrait-container {
    margin-top: 6%;
  }
}

@media screen and (max-width: 500px) {
    #overlaycontainer {
      height: 550px;
    }
    .centerbannertext h1 {
        width: 90%;
        top: 50px;
        left: 0px;
        padding: 5px;
        font-size: 3em;
    }
    .firstrow img {
        height: 250px;
    }
}

@media screen and (max-width: 437px) {
  .banner-menu-down {
    top: 150px;
  }
  .code-skill {
    font-size: 14px;
  }
}

@media screen and (max-width: 412px) {
    .contactstyling p {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 360px) {
  .centerbannertext h1 {
      width: 95%;
      top: 50px;
      left: 0px;
      padding: 5px;
      font-size: 3em;
  }
  .banner-menu-down {
    top: 150px;
  }
  .stats-card .stats-card-top-background {
    height: 46%;
  }
  .stats-card {
    height: 1010px;
  }
  .stats-card .menu-down-stats-card {
    top: 920px;
  }
}
@media screen and (max-width: 350px) {
  .stats-card .stats-card-top-background {
    height: 49%;
  }
}
@media screen and (max-width: 340px) {
  .centerbannertext h1 {
      width: 95%;
      top: 50px;
      left: 0px;
      padding: 5px;
      font-size: 2.5em;
  }
  .code-skill {
    font-size: 12px;
  }
  .banner-menu-down {
    top: 180px;
  }
  .stats-card .stats-card-top-background {
    height: 50%;
  }
}

/***************************************************/



/*******************BLOG MEDIA QUERIES***************/
@media screen and (max-width: 1000px) {
    .blogarticle {
        width: 75%;
    }
}
@media screen and (max-width: 700px) {
    .blogarticle {
        width: 100%;
    }
    .blogarticle .articleparagraph, .articleparagraph ul li {
        font-size: 1.1em;
    }
    .blogarticle h1 {
        font-size: 2.5em;
    }
}
