h1 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    padding-top: 10px;
}
p {
    margin-bottom: 0;
}
body {
    -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
    background: #457fca; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #375CB1 , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #375CB1 , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*From uigradients made color a little darker*/
}
main.ng-scope {
  margin: 75px 0;
}
.container {
    padding: 0px;
}
#maincontainer button {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: 150%;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    border: 1px solid white;
    color: #000;
    outline: none;
}
#maincontainer button:active {
    transform: translate(0px, -1px);
    box-shadow: 0 0 5px black;
}
#maincontainer {
    position: relative;
    top: 10px;
    display: block;
    margin: auto;
    width: 400px;
    height: 500px;
    padding: 0px;
    padding-top: 0px;
    background-color: #fff;
    border-radius: 15px;
    color: #FFF;
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.5);
}
#maincontainer h1 {
    color: #fff;
}
#topcolor {
    background-color: #03A9F4;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px;

}
#numberdisplay {
    text-align: right;
    margin: 0 auto;
    width: 95%;
    height: 55px;
    font-size: 3em;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 10px;
    overflow:hidden;
    font-family: 'Questrial', sans-serif;
    color: #fff;
}
#bottombuttons {
    width: 250px;
    float: left;
}
#bottombuttons button {
    width: 44.49px;
}
button#acbutton, button#cebutton {
    background-color: crimson;
    border: crimson 1px solid;
    width: 200%;
    margin: 5px;
}
button#equalbutton {
    height: 20%;
    float: right;
    width: 15%;
    margin-right: 15px;
}
button#zerobutton {
    width: 44.49px;
    float: left;
}
#personcontainer {
    position: relative;
    top: 25px;
    color: white;
}
#personcontainer {
  font-family: 'Inconsolata', monospace;
}
#personcontainer h2 {
  font-size: 22px;
}
#personcontainer a {
    text-decoration: none;
    color: greenyellow;

}
#personcontainer a:visited {
    color: greenyellow;
}
#personcontainer a:hover {
    text-decoration: underline;
}
#personcontainer img {
    border-radius: 10px;
    margin-left: 10px;
    transition: 0.15s ease-in-out;
}
#personcontainer img:hover {
    box-shadow: 0 0 5px crimson;
}
#maincontainer .row {
    position: relative;
    margin: auto;
    text-align: center;
    display: block;
}
#maincontainer .col-xs-2:first-child, .col-xs-3:first-child {
    margin-left: 5px;
}
#maincontainer .col-xs-3:nth-of-type(2), .col-xs-3:nth-of-type(3) {
    margin-left: 21px;
}
#maincontainer .col-xs-3:nth-of-type(3) {
    margin-left: 29px;
}
#maincontainer .col-xs-2:nth-of-type(3) {
    margin-left: 26px;
}
#maincontainer .col-xs-2:nth-of-type(2) button {

    right: 8px;
}
/* ROW FOUR STLYING */
#row-four {
  left: 17px;
}
#row-four .col-xs-3:nth-of-type(1) {
    right: 12px;
}
#row-four .col-xs-3:nth-of-type(2) {
    margin-left: 18px;
}
#row-four .col-xs-3:nth-of-type(3) {
    margin-left: 39px;
}
/* ROW FIVE STYLING */
#row-five {
  left: 15px;
}
#row-five .col-xs-1:nth-of-type(1) {
    right: 3px;
}
#row-five .col-xs-3:nth-of-type(2) {
    margin-left: 25px;
}
#row-five .col-xs-3:nth-of-type(3) {
    margin-left: 1px;
}
@media screen and (max-width: 390px) {
  body {
    background-repeat: no-repeat;
  }
    #maincontainer {
        width: 95%;
        height: 430px;
    }
    #maincontainer button {
        font-size: 2.1em;
    }
    button#acbutton, button#cebutton {
        background-color: crimson;
        border: crimson 1px solid;
        width: 200%;
        margin: 5px;
        font-size: 1.5em;
    }
    button#equalbutton {
        height: 20%;
        float: right;
        width: 15%;
        margin-right: 5px;
    }
    button#zerobutton {
        width: 44.49px;
        float: left;
    }
    #row-four .col-xs-3:nth-of-type(1) {
        margin-left: 0px;
        right: 15px;
    }
    #row-four .col-xs-3:nth-of-type(2) {
        margin-left: 0px;
        right: 7px;
    }
    #row-four .col-xs-3:nth-of-type(3) {
        margin-left: 15px;
    }
    /* ROW FIVE STYLING */
    #row-five .col-xs-1:nth-of-type(1) {
        margin-left: 0px;
        right: 10px;
    }
    #row-five .col-xs-3:nth-of-type(2) {
        margin-left: 10px;
    }
    #row-five .col-xs-3:nth-of-type(1) {
        margin-left: 0px;
    }
}
@media screen and (max-width: 320px) {
  #maincontainer button {
    padding: 3px;
  }
  #maincontainer {
    height: 350px;
  }
  #bottombuttons {
    width: 30%;
  }
  #row-four {
    width: 225px;
  }
  #row-five {
    width: 225px;
  }
}
