.article-main {
    position: relative;
    height: 100%;
    background-color: transparent;
    z-index: 10;
    margin: 0 6rem;

    pre {
        display: block;
        font-size: 2rem;
        padding: 9.5px;
        margin: 0 0 10px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: auto;

        &.code-block {
            font-size: 1.25rem;
            background-color: #1b1b1b;
            color: #f3f3f3;
        }
    }
}

.article {
    position: relative;
    top: -4rem;
    padding: 5rem;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    z-index: 1;
    border: 0;
    box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

.portfolio-section {
    width: 70%;
    margin: 2rem auto;
}

.article-section, .portfolio-image-description {
    width: 50%;
    margin: 2rem auto;
}

.article-section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.article-header {
    font-size: 5rem;
    margin: 2rem 0;
}

.article-section-header {
    font-size: 3rem;
    width: 90%;    
}

h3.article-section-subheader {
    font-size: 2rem;
    width: 90%;
}

.article-paragraph, .article-list {
    font-size: 2rem;
    line-height: 1.48;
    letter-spacing: -0.003em;
    margin: 2rem 0;
}

.article-list {
    font-size: 1.8rem;
    list-style-type: none;

    & li {
        margin-top: 1rem;
    }
}