.btn {
  color: $color-white;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.15s ease-in all;

  &:hover {
    background-color: $color-lightergreen;
  }

  &:active {
    background-color: $color-white;
    color: $color-black;
  }
}

.btn-secondary-color {
  background-color: $color-lightgreen;
}

.btn-faded {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 0;
  margin-top: 2rem;
  color: rgba(0,0,0,0.3);
  font-style: italic;
  font-weight: bold;

  &:hover {
    background-color: transparent;
    color: #000;
  }
}

.btn-left {
  width: inherit;
  text-align: center;
}

.btn-blog {
  width: 16rem;
  bottom: 8px;
  font-style: normal;
  color: $color-black;
  background-color: $color-white;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @include respond(large-desktop) {
    margin-top: 3rem;
  }
}
