@keyframes expand {
    from {
        max-height: 200px;
    }

    to {
        max-height: 2000px;
    }
}

@keyframes collapse {
    from {
        max-height: 2000px;
    }

    to {
        max-height: 200px;
    }
}

/*.checkbox-toggle-2 {

    ~ .expandable {
        position: absolute;
        bottom: -5000px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;
        height: 100vh;
    }

    input[type="checkbox"]:checked ~ .expandable{
        position: relative;
        top: 0;
        opacity: 1;
        visibility: visible;
        height: inherit;
    }

    input[type="checkbox"]:checked ~ label {
        i {
            transition: all .3s ease-out;
            transform: rotate(180deg);
        }
    }
}*/

.checkbox-toggle-1 {

    ~ ul.list .checkbox-toggle-1-container .expandable {
        position: relative;
        max-height: 0;
        opacity: 0;
        z-index: 0;
        visibility: hidden;
        transition: all .3s ease-out;
    }

    &:not(:checked) ~ ul.list .checkbox-toggle-1-container {
        animation: collapse .3s;
    }

    &:checked ~ ul.list .checkbox-toggle-1-container {
        animation: expand .5s;
    }

    &:checked ~ ul.list .checkbox-toggle-1-container .expandable {
        position: relative;
        opacity: 1;
        max-height: 2000px;
        visibility: visible;
        transition: all .3s ease-out;
    }

    &:checked ~ ul.list .checkbox-toggle-1-container label {
        i {
            transition: all .3s ease-out;
            transform: rotate(180deg);
        }
    }
}

.checkbox-toggle-2 {

    ~ ul.list .checkbox-toggle-2-container .expandable {
        position: relative;
        max-height: 0;
        opacity: 0;
        z-index: 0;
        visibility: hidden;
        transition: all .3s ease-out;
    }

    &:not(:checked) ~ ul.list .checkbox-toggle-2-container {
        animation: collapse .3s;
    }

    &:checked ~ ul.list .checkbox-toggle-2-container {
        animation: expand .5s;
    }

    &:checked ~ ul.list .checkbox-toggle-2-container .expandable {
        position: relative;
        opacity: 1;
        max-height: 2000px;
        visibility: visible;
        transition: all .3s ease-out;
    }

    &:checked ~ ul.list .checkbox-toggle-2-container label {
        i {
            transition: all .3s ease-out;
            transform: rotate(180deg);
        }
    }
}