.secondary-header {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: $color-white;
}

.h3 {
    font-size: 3rem;
}

.item-header {
    font-size: 3rem;
}

.item-secondary-header {
    font-size: 2rem;
}

.section-summary-title {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 1rem;
}