.link-clean {
    text-decoration: none;
    color: inherit;

    &:visited, &:active {
        color: inherit;
    }
}

.link {
    color: $color-primary;

    &:hover {
        color: $color-secondary;
    }
}

.link-black {
    color: $color-black;

    &:hover {
        color: $color-secondary;
    }
}