.nav-logo-container, .nav-logo-container-project, .nav-logo-container-blog {
  position: absolute;
  z-index: 1002;
  top: 7%;
  left: 6%;

  @include respond(phone-land) {
    top: 4%;
  }

  &__logo {
    display: inline-block;
    max-width: 64px;
    max-height: 64px;
    border-radius: 3px;
    margin-top: 5.5%;
    margin-left: 10%;

    @include respond(phone-land) {
      margin-top: 0;
      margin-left: 0;
    }
  }

}

.nav-logo-container-project, .nav-logo-container-blog {

  @include respond(phone-land) {
    top: 4%;
  }

  &__logo {

    @include respond(phone-land) {
      margin-top: 0;
    }

  }
}

.desktop-navigation, .desktop-navigation-project, .desktop-navigation-blog {
  @include respond(tab-land) {
    display: none;
  }

  position: absolute;
  display: flex;
  width: 100%;
  z-index: 4;




  &__card_2up {
    width: 50%;
  }

  &__list {
    display: inline-block;
    position: relative;
    left: 10%;
    margin-top: 5.5rem;

    a {
      display: inline-block;
      margin: 3rem;
      position: relative;
      padding: 0.2rem;
      font-size: 2.3rem;
      color: $color-white;
      list-style-type: none;
      text-decoration: none;
      transition: all 0.15s ease-in-out 0s;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #fafafa;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.15s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
      &:after {
        content: '';
      }
      &:hover {
        color: #000;
      }
      &:active {
        color: $color-white;
      }

    }
  }
}

.desktop-navigation-project {
  position: relative;

  @include respond(tab-land) {
    display: none;
  }
}

.hamburgermenu {
  display: none;

  @include respond(tab-land) {
    display: block;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1002;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;

    @include respond(phone-land) {
      top: 3rem;
      right: 3rem;
    }

    @include respond(phone-small) {
      top: 2.5rem;
      right: 2.5rem;
    }

  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-lightgreen, $color-primary);
    z-index: 1000;

    transition: transform .8s;

    @include respond(phone-land) {
      top: 3.5rem;
      right: 3.5rem;
    }

    @include respond(phone-small) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    opacity: 0;
    width: 0;
    visibility: hidden;
    transition: all .8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &__list {
    position: absolute;
    width: 100%;
    @include centerhorizontal;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;

    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }

  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: #999;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }

  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}
