.portfolio-section {
    width: 70%;
    margin: 2rem auto;
}

.portfolio-image-description, .portfolio-wide-description {
    width: 50%;
    margin: 2rem auto;
}

.portfolio-wide-description {
    width: 60%;
}
