.backtotop {
  position: fixed;
  bottom: 0;
  right: 0;
  color: $color-white;
  background-color: $color-primary;
  z-index: 2;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
  transition: 0.2s all ease-in-out;
  font-size: 1.5rem;
  border: 0;

  .fa-arrow-up {
    display: block;
    text-align: center;
  }

  a {
    display: block;
    padding: 1.5rem;
  }

  &:hover {
    background-color: $color-lightgreen;
  }

}
