@keyframes expand {
    from {
        max-height: 200px;
    }

    to {
        max-height: 2000px;
    }
}

@keyframes collapse {
    from {
        max-height: 2000px;
    }

    to {
        max-height: 200px;
    }
}

.hover-scale-image {
  &:hover {
    transform: scale(1.06);
  }
}

.hover-portfolio-image {
  &:hover {
    transform: scale(1.1);
  }
}