body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

p, .paragraph, .text {
  font-size: 1.75rem;
  flex: 1 0 auto;
  line-height: 1.6;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 2.5rem;
}

.text-base {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.75rem;
}

.text-lg {
  font-size: 2rem;
}

.text-xl {
  font-size: 3rem;
}

.text-primary {
  color: $color-primary;
}

.text-secondary { 
  color: $color-secondary;
}

.text-ternary {
  color: $color-ternary;
}

.unbold {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.code {
  background-color: $color-black;
  padding: 0.5rem;
  border: 1px solid #a9a9a9;
}