@font-face {
    font-family: 'Open Sans';
    src: url('src/webfonts/OpenSans-Regular.ttf') format("woff");
    font-weight: normal;
    font-style: normal;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('src/webfonts/OpenSans-Italic.ttf') format("woff");
    font-weight: normal;
    font-style: italic;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Open Sans';
    src: url('src/webfonts/OpenSans-Bold.ttf') format("woff");
    font-weight: bold;
    font-style: normal;
    font-optical-sizing: auto;
}


body {
  font-family: 'Open Sans', sans-serif;
}

.paragraph, .text {
  font-size: 1.75rem;
  color: #333;
  flex: 1 0 auto;
  line-height: 1.48;
  letter-spacing: -0.003em;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 2.5rem;
}

.text-base {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.75rem;
}

.text-lg {
  font-size: 2rem;
}

.text-primary {
  color: $color-primary;
}

.unbold {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.code {
  background-color: #e4e4e4;
  padding: 0.5rem;
  border: 1px solid #a9a9a9;
}