 .home-header {
  position: relative;
  display: flex;
  background-color: $color-primary;
  height: 100vh;
  justify-content: flex-end;

  .home-header-container {
    margin-right: 35rem;
    margin-top: 25rem;

    .home-header-title {
       font-size: 9rem;
       color: $color-white;
       font-weight: normal;

       .home-header-name {
         display: block;
         font-size: 10rem;
         font-weight: bold;
       }
    }

    .home-header-description {
      font-size: 2.5rem;
      font-weight: lighter;
      color: $color-white;
      margin-top: 2.5rem;
    }

    .home-header-button {
      font-size: 1.8rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
      border-radius: 3rem;
      padding: 1.2rem 5rem 1.2rem 5rem;
      box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    }
  }
 }