<div ng-if="item.category === 'angular'" ng-class="{categoryangular: item.category === 'angular'}">
    <bmitemcontents></bmitemcontents>
</div>
<div ng-if="item.category === 'ionic'" ng-class="{categoryionic: item.category === 'ionic'}">
    <bmitemcontents></bmitemcontents>
</div>
<div ng-if="item.category === 'reading'" ng-class="{categoryreading: item.category === 'reading'}">
    <bmitemcontents></bmitemcontents>
</div>
<div ng-if="item.category === 'programming'" ng-class="{categoryprogramming: item.category === 'programming'}">
    <bmitemcontents></bmitemcontents>
</div>
<div ng-if="item.category === 'custom'" ng-class="{categorycustom: item.category === 'custom'}">
    <bmitemcontents></bmitemcontents>
</div>
