body {
    background-color: #2196F3;
    font-size: 1.5rem;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.reaver-title {
    text-align: center;
    color: #FAFAFA;
}

.canvas-container {
    text-align: center;
    margin-top: 8rem;
}

.footer-container {
    margin-top: 12.7rem;
}