
$color-primary: #2196F3; // blue color
$color-lightblue: #4FC3F7; // lightblue
$color-lighterblue: #6cd1ff; // lighter blue

$color-proficient: #8E24AA; // Faded Purple
$color-intermediate: #81C784; // Faded Green
$color-entry: #BDBDBD; // Faded Grey

$color-white: #fcfcfc;
$color-black: #000;

$color-white-dark: #ebebeb;


$color-lightgrey: rgba(255,255,255,0.7);
