
$color-primary: #176911; 
$color-lightblue: #1f9316; 
$color-lighterblue: #33c528;

$color-proficient: #8E24AA; // Faded Purple
$color-intermediate: #81C784; // Faded Green
$color-entry: #BDBDBD; // Faded Grey

$color-white: #fcfcfc;
$color-black: #000;

$color-white-dark: #ebebeb;


$color-lightgrey: rgba(255,255,255,0.7);
