@import url(https://fonts.googleapis.com/css?family=Raleway);
.quotemachine-container {
  height: 600px;
}
.quotemachine-container .boxstyling {
    position: relative;
    margin: 0 auto;
    top: 125px;
    height: 350px;
    width: 30%;
    box-shadow: 0 0 3px black;
}
#randomquotecontainer {
    position: relative;
    top: 50px;
}
#randomquotecontainer p, .person {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 150%;
    font-size: 1.6em;
    font-style: italic;
}

.quotemachine-container  .quote {
    height: 50px;
}
.quotemachine-container  .socialicons {
    position: relative;
    top: 135px;
    text-align: center;
}
.quotemachine-container  .socialicons a img{
    padding: 5px;
}
.quotemachine-container  ul.listicons {
    padding-left: 0px;
}
.quotemachine-container  li {
    display: inline;
}
.quotemachine-container  .addbold {
    font-weight: bold;
}
.quotemachine-container  button {
    position: relative;
    height: 2.5em;
    top: 125px;
}
@media screen and (max-width:1000px) {
  .quotemachine-container .boxstyling {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .quotemachine-container .boxstyling {
    width: 98%;
  }
}
@media screen and (max-width: 420px) {
  .quotemachine-container .boxstyling {
    height: 425px;
    top: 75px;
  }
  .quotemachine-container  .socialicons {
    top: 240px;
  }
}
