.card_3up_container, .card_2up_container {
  display: flex;
}

.card_2up {
  position: relative;
  width: 50%;
}

.card_3up, .card_3up-project, .card_3up-standard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  margin: 0 3rem 3rem 3rem;
  width: 33.3%;
  transition: all 0.2 ease-in;
  overflow: hidden;

  &_image, &_image-project {
    width: 100%;
    max-width: 280px;
    max-height: 280px;
    display: block;
    margin: 0 auto;
  }

  &_image-project {
    max-width: 900px;
    max-height: 360px;
    transition: all 0.4s ease-in-out;
  }

  &:hover &_image-project {
    transform: scale(1.03);
  }
  &:hover .project-description {
    opacity: 1;
    height: 20%;
  }

  &_link {
    color: inherit;
    text-decoration: none;
  }
  &_link:hover .btn.btn-faded {
    color: #000;
  }

  &_header, &__title {
    font-size: 3rem;
    width: 90%;
  }

  &_primary {
    color: $color-primary;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.card_3up-project {
  padding: 0;
  margin: 0;
}

.card_3up-standard {
  margin: 1rem;
  padding: 0;
  width: 32%;
  flex-direction: column;

  &__link {
    color: inherit;
    text-decoration: none;
  }

  &__title {
    width: 100%;
    flex: 1 0 auto;
    margin-top: 1rem;
  }

  &__highlight-band {
    width: 100%;
    height: 5px;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 2rem;
    transition: all 0.2s ease-in-out;
  }

  &:hover &__highlight-band {
    background-color: $color-primary;
  }

  .btn-blog:hover {
    background-color: $color-primary;
    color: $color-white;
  }

  &:active &__highlight-band {
    background-color: $color-lighterblue;
  }

  &__image {
    width: 100%;
    height: 360px;
    max-height: 360px;
    flex: 1 0 auto;
  }

  &__articledate {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    color: rgba(0,0,0,0.5)
  }

  &__description {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #333;
    flex: 1 0 auto;
    line-height: 125%;
  }

}
