.footer-container {
  background-color: $color-white;
  margin-top: 8rem;
  padding: 5rem;
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: center;
  color: #666;
  font-size: 16px;

  &__copyright {
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__socialmedia-list {
    display: block;
    font-size: 24px;
  }
  &__socialmedia-list li {
    display: inline-block;
    margin-left: 2rem;
  }
}
