body,html {
  height: 100%;
  width: 100%;
}
body {
    background-color: #BBDEFB;
    font-family: 'Roboto', sans-serif;
}
.bookmarku-container label {
    display: block;
    font-size: 1.5em;
    color: rgba(0,0,0,0.4);
}
.bookmarku-container button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
}
.btn {
    display: block;
    font-size: 1.5em;
}
.bookmarku-container a {
    text-decoration: none;
    color: transparent;
}
.bookmarku-container input {
    width: 100%;
    border: 0 solid transparent;
    border-bottom: solid 1px rgba(0,0,0,0.3);
    outline: 0;
    margin: 10px 0px 10px 0px;
}
.bookmarku-container input:focus {
    border-bottom: solid 2px #2196F3;
}
.bookmarku-container select {
    margin-top: 18px;
    color: rgba(0,0,0,0.7);
    width: 15%;
}
* {
    transition: 0.1s ease-in-out;
}
.container-fluid {
  padding-bottom: 100px;
}
h1.jumbotron {
    background-color: #0D47A1;
    color: white;
}
.categoryangular h1:first-letter {
    color: rgba(255, 0, 0, 0.5);
}
.categoryionic h1:first-letter {
    color: rgba(0, 0, 255, 0.5);
}
.categoryreading h1:first-letter {
    color: rgba(0, 255, 0, 0.5);
}
.categoryprogramming h1:first-letter {
    color: rgba(150, 150, 150, 0.5);
}
.categorycustom h1:first-letter {
    color: rgba(255, 150, 0, 0.5);
}
.navbar {
    background-color: #0D47A1;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0 1px 4px #333;
}
.additem {
    position: relative;
    left: 200px;
    background-color: #42A5F5;
    border-radius: 50%;
    width: 115%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.bookitem, .editbookmark {
    position: relative;
    min-height: 300px;
    top: 95px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    margin-top: 24px;
}
.editbookmark {
    height: 575px;
}
.buttoncontainer {
    position: absolute;
    top: 65%;
    margin: 12px;
    margin-top: 1.6em;
    margin-left: 0px;
}
.buttoncontainer a {
    color: white;
    text-decoration: none;
}
.bookmarku-container .glyphicon {
    position: relative;
    padding: 10px;
    font-size: 1.5em;
    left: 130px;
}
.bookmarku-container .glyphicon-trash {
    color: darkred;
}
.bookmarku-container .glyphicon-trash:hover {
    color: crimson;
}
.bookmarku-container .glyphicon-pencil {
    color: black;
    margin-right: 20px;
}
.bookmarku-container .glyphicon-pencil:hover {
    color: gold;
}
.gotosite {
    margin-top: 10px;
    background-color: white;
    height: 27px;
    border-radius: 1.5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
}
.gotosite:hover {
    color: #0D47A1;
}
/*Centers navbar listitems*/
.navbar-nav {
    width: 80%;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
    font-size: 1.5em;
}
/*Anchor link coloring, on default, focus, and hover*/
.navbar-default
.navbar-nav>li>a {
    color: white;
}
.navbar-default
.navbar-nav>li>a:focus,.navbar-default
.navbar-nav>li>a:hover  {
    color: #64B5F6;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #0D47A1;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #64B5F6;
}
/*Space between list items in nav*/
.navbar-nav li {
    margin: 10px;
}
/*Brand Styling*/
.navbar-brand {
    position: relative;
    left: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 2em;
    font-family: 'Shrikhand', cursive;
}
.navbar-default .navbar-brand:hover {
    color: #64B5F6;
}
.navbar-default .navbar-brand {
    color: white;
}
.col-lg-offset-1 {
    margin-left: 6.3%;
}
.navbar {
    margin-bottom: 0px;
}
.bookitem p {
    height: 150px;
    overflow: auto;
}
@media screen and (max-width: 1530px) {
    .bookmarku-container .glyphicon {
        left: 60px;
    }
}
@media screen and (max-width: 1250px) {
    .bookmarku-container .glyphicon {
        left: 25px;
    }
}
@media screen and (max-width: 1130px) {
    .navbar-nav {
        width: 50%;
    }
    .additem {
        left: 100px;
    }
    .col-lg-offset-1 {
        margin-left: 6.3%;
    }
    .bookmarku-container .glyphicon {
        left: 0px;
    }
    .bookitem p {
        height: 100px;
    }
    .bookmarku-container .glyphicon-pencil {
        margin-right: 0px;
    }
}
@media screen and (max-width: 770px) {
    .bookmarku-container .glyphicon-pencil {
        margin-right: 25px;
    }
    .navbar-header button {
        position: relative;
        right: 100px;
        width: 45px;
    }
    .col-lg-offset-1{
        margin-left: 0%;
    }
    .bookmarku-container .glyphicon {
        left: 100px;
    }
}
@media screen and (max-width: 450px) {
    .navbar-header button {
        right: 25px;
    }
}
@media screen and (max-width: 375px) {
    .bookmarku-container .glyphicon {
        left: 25px;
    }
    .bookmarku-container .glyphicon-pencil {
        margin-right: 20px;
    }
}
@media screen and (max-height: 425px) {
    .bookitem {
        height: 75%;
    }
}
