/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  margin-bottom: 90px; }

.hideme {
  display: none; }

/***Span color's***/
.textlightgreen {
  color: #86e98c; }

.breakcontent {
  display: block; }

/**********NAVIGATION****************/
.col-lg-offset-4 {
  margin-left: 39.3333%; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: 0.1s ease-in; }

.navbar {
  padding-top: 30px;
  background-color: #000;
  box-shadow: 0 1px 4px #333; }

.navbar .navbar-brand img {
  position: relative;
  bottom: 25px; }

.navbar-default {
  border-color: #000; }

.navbar-default .navbar-collapse {
  border-color: #000; }

.navbar .collapse .row {
  display: inline; }

.navbar .row .col-lg-10 {
  position: absolute;
  top: 20px;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Playfair Display", serif; }

/************************************/
/**********TOP HEADING **********/
.openingpageinfo {
  display: block;
  padding: 400px 0px 96px 0px;
  font-family: "Taviraj", serif; }

.openingpageinfo h1 {
  width: 70%;
  font-size: 32px;
  line-height: 150%; }

/************************************/
/**********PORTFOLIO**********/
#portfolio {
  padding-left: 0px; }

.large-block {
  float: left;
  padding-left: 0px;
  padding-right: 0px; }

.large-block img, .top-block img, .bottom-block img {
  cursor: pointer; }

#portfolio p span {
  margin-top: 16px;
  display: block; }

.lg-block-description, .top-block-description, .bottom-block-description {
  position: absolute;
  top: 450px;
  bottom: 3px;
  right: 600px;
  left: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  text-align: center; }

.lg-block-description.lg-transition, .top-block-description.top-block-transition,
.bottom-block-description.bottom-block-transition {
  position: absolute;
  opacity: 1;
  top: 390px;
  bottom: 3px;
  right: 70px;
  background-color: rgba(255, 255, 255, 0.2); }

.top-block-description {
  /**Top Block Transition effect**/
  top: -50px;
  bottom: 500px; }

.top-block-description.top-block-transition {
  top: 150px;
  bottom: 240px;
  right: 55px;
  background-color: rgba(0, 0, 0, 0.5); }

.bottom-block-description.bottom-block-transition {
  /**Bottom Block Transition effect**/
  bottom: 0px;
  right: 55px;
  background-color: rgba(0, 0, 0, 0.5); }

.double-blocks {
  float: right;
  padding-left: 0px; }

.double-blocks .top-block {
  margin-bottom: 25px; }

/************************************/
/**********HEADINGBELOWPORTFOLIO**********/
.specializepageinfo {
  padding-top: 200px; }

.specializepageinfo h1 {
  font-family: "Taviraj", serif;
  font-size: 32px;
  margin-bottom: 30px; }

.specializepageinfo p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 175%;
  width: 70%;
  padding-bottom: 30px; }

.specializepageinfo p a {
  position: relative;
  color: #000;
  display: inline-block;
  text-decoration: none; }

.specializepageinfo p a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 30px;
  height: 2px;
  width: 100%;
  background-color: grey;
  transition: 0.3s ease-in-out; }

.specializepageinfo p a:hover::after {
  background-color: #86e98c; }

/************************************/
/**********WHATWEDO**********/
.whatwedo {
  padding: 35px 0px 90px 0px; }

.whatwedo span {
  font-size: 42px;
  color: #86e98c;
  margin-bottom: 40px; }

.whatwedo h2 {
  font-family: "Taviraj", serif;
  font-size: 21px;
  margin-bottom: 16px; }

.whatwedo p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 80%;
  line-height: 150%; }

/************************************/
/**********FRONTPAGEBLOG**********/
#frontpageblog img {
  max-height: 175px; }

#frontpageblog h2 {
  font-family: "Taviraj", serif;
  font-size: 21px;
  margin-bottom: 75px; }

#frontpageblog .blogpost {
  margin: 75px 0px 75px 0px; }

#frontpageblog .datecreated {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: grey;
  margin-bottom: 24px; }

#frontpageblog h2 {
  font-family: "Taviraj", serif;
  font-size: 28px;
  margin-bottom: 24px; }

#frontpageblog .content {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 175%;
  width: 85%; }

/************************************/
/**********FOOTER**********/
footer {
  padding: 90px 0px 90px 0px;
  background-color: #000;
  color: #fff; }

footer .row {
  margin-left: 20%;
  margin-right: 20%; }

footer .firstsection p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 70%; }

footer .secondsection ul {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

footer .secondsection li {
  margin: 15px; }

footer .thirdsection p {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  width: 100%; }

/************************************/
@media screen and (max-width: 1200px) {
  #portfolio img {
    margin-bottom: 24px; }
  .double-blocks {
    float: left; }
  footer .firstsection, footer .secondsection, footer .thirdsection {
    margin: 50px 0px 50px 0px; }
  .top-block-description.top-block-transition {
    bottom: 265px; }
  .bottom-block-description.bottom-block-transition {
    bottom: 25px; } }

@media screen and (max-width: 1199px) {
  .lg-block-description.lg-transition {
    right: 0px; }
  .top-block-description.top-block-transition, .bottom-block-description.bottom-block-transition {
    right: 15px; } }

@media screen and (max-width: 992px) {
  .col-lg-offset-4 {
    margin-left: 33%; } }

@media screen and (max-width: 800px) {
  .openingpageinfo h1 {
    width: 100%; }
  .specializepageinfo p {
    width: 95%; }
  .lg-block-description.lg-transition {
    top: 82%; } }

@media screen and (max-width: 768px) {
  .navbar .row .col-lg-10 {
    position: relative;
    top: 0px; } }

@media screen and (max-width: 566px) {
  .lg-block-description.lg-transition {
    top: 75%; } }

@media screen and (max-width: 420px) {
  .openingpageinfo h1 {
    font-size: 28px; }
  #portfolio img {
    max-width: 300px;
    max-height: 200px; }
  .lg-block-description.lg-transition {
    top: 55%; }
  .top-block-description.top-block-transition {
    top: 30%;
    bottom: 56%; }
  .bottom-block-description.bottom-block-transition {
    top: 80%;
    bottom: 5%; } }
