$navfont: 'Playfair Display', serif;
$h1font: 'Taviraj', serif;
$pfont: 'Open Sans', sans-serif;
hr {
    margin-bottom: 90px;
}
.hideme {
    display: none;
}
/***Span color's***/
.textlightgreen {
    color: rgb(134, 233, 140);
}
.breakcontent {
    display: block;
}
/**********NAVIGATION****************/
.col-lg-offset-4 {
    margin-left: 39.3333%;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: 0.1s ease-in;
}
.navbar {
    padding-top: 30px;
    background-color: #000;
    box-shadow: 0 1px 4px #333;
}
.navbar .navbar-brand img {
    position: relative;
    bottom: 25px;
}
.navbar-default {
    border-color: #000;
}
.navbar-default .navbar-collapse {
    border-color: #000;
}
.navbar .collapse .row {
    display: inline;
}
.navbar .row .col-lg-10 {
    position: absolute;
    top: 20px;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    font-family: $navfont;
}
/************************************/
/**********TOP HEADING **********/
.openingpageinfo {
    display: block;
    padding: 400px 0px 96px 0px;
    font-family: $h1font;
}
.openingpageinfo h1 {
    width: 70%;
    font-size: 32px;
    line-height: 150%;
}
/************************************/
/**********PORTFOLIO**********/
#portfolio {
    padding-left: 0px;
}
.large-block {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}
.large-block img, .top-block img, .bottom-block img {
    cursor: pointer;
}
#portfolio p span {
    margin-top: 16px;
    display: block;
}
.lg-block-description, .top-block-description, .bottom-block-description /**Large-Block Transition effect**/ {
    position: absolute;
    top: 450px;
    bottom: 3px;
    right: 600px;
    left: 0;
    opacity: 0;
    transition: 0.2s ease-in-out;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}
.lg-block-description.lg-transition, .top-block-description.top-block-transition, 
.bottom-block-description.bottom-block-transition {
    position: absolute;
    opacity: 1;
    top: 390px;
    bottom: 3px;
    right: 70px;
    background-color: rgba(255, 255, 255, 0.2);
}
.top-block-description { /**Top Block Transition effect**/
    top: -50px;
    bottom: 500px;
}
.top-block-description.top-block-transition {
    top: 150px;
    bottom: 240px;
    right: 55px;
    background-color: rgba(0, 0, 0, 0.5);
}
.bottom-block-description.bottom-block-transition { /**Bottom Block Transition effect**/
    bottom: 0px;
    right: 55px;
    background-color: rgba(0, 0, 0, 0.5);
}
.double-blocks {
    float: right;
    padding-left: 0px;
}
.double-blocks .top-block {
    margin-bottom: 25px;
}
/************************************/
/**********HEADINGBELOWPORTFOLIO**********/
.specializepageinfo {
    padding-top: 200px;
}
.specializepageinfo h1 {
    font-family: $h1font;
    font-size: 32px;
    margin-bottom: 30px;
}
.specializepageinfo p {
    font-family: $pfont;
    font-size: 18px;
    line-height: 175%;
    width: 70%;
    padding-bottom: 30px;
}
.specializepageinfo p a {
    position: relative;
    color: #000;
    display: inline-block;
    text-decoration: none;
}
.specializepageinfo p a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    height: 2px;
    width: 100%;
    background-color: grey;
    transition: 0.3s ease-in-out;
}
.specializepageinfo p a:hover::after {
    background-color: rgb(134, 233, 140);
}
/************************************/
/**********WHATWEDO**********/
.whatwedo {
    padding: 35px 0px 90px 0px;
}
.whatwedo span {
    font-size: 42px;
    color: rgb(134, 233, 140);
    margin-bottom: 40px;
}
.whatwedo h2 {
    font-family: $h1font;
    font-size: 21px;
    margin-bottom: 16px;
}
.whatwedo p {
    font-family: $pfont;
    font-size: 16px;
    width: 80%;
    line-height: 150%;
}
/************************************/
/**********FRONTPAGEBLOG**********/
#frontpageblog img {
    max-height: 175px;
}
#frontpageblog h2 {
    font-family: $h1font;
    font-size: 21px;
    margin-bottom: 75px;
}
#frontpageblog .blogpost {
    margin: 75px 0px 75px 0px;
}
#frontpageblog .datecreated {
    font-family: $pfont;
    font-size: 14px;
    color: grey;
    margin-bottom: 24px;
}
#frontpageblog h2 {
    font-family: $h1font;
    font-size: 28px;
    margin-bottom: 24px;
}
#frontpageblog .content {
    font-family: $pfont;
    font-size: 18px;
    line-height: 175%;
    width: 85%;
}
/************************************/
/**********FOOTER**********/
footer {
    padding: 90px 0px 90px 0px;
    background-color: #000;
    color: #fff;
}
footer .row {
    margin-left: 20%;
    margin-right: 20%;
}
footer .firstsection p {
    font-family: $pfont;
    font-size: 18px;
    width: 70%;
}
footer .secondsection ul {
    font-family: $pfont;
    font-size: 18px;
}
footer .secondsection li {
    margin: 15px;
}
footer .thirdsection p {
    font-family: $pfont;
    font-size: 26px;
    width: 100%;
}
/************************************/