/*
0 - 425px: Phone Small
0 - 600px: Phone
601px - 700px: Phone landscape
600 - 900px: Tablet portrait
901 - 1000px: Tablet Small
900 - 1200px: Tablet landscape
1400px: Laptop
(1200-1800): Normal Styling
1800 + : Big Desktop

$breakpoint arguement choices:
- phone-small
- phone
- phone-land
- tab-port
- small-height
- tab-land
- laptop
- medium-desktop
- big-desktop
*/
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); } }
@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #ebebeb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.text-primary {
  color: #2196F3; }

.display-block {
  display: block; }

@media (max-width: 43.75em) {
  .mobile-block {
    display: block;
    margin-top: 2rem; } }

.primary-backgroundcolor {
  background-color: #2196F3; }

.primary-underline {
  display: inline-block;
  border-bottom: 3px solid #2196F3; }

.lighter-grey-leftborder {
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.color-white {
  color: #FAFAFA; }

.center-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.bottom-margin-medium {
  margin-bottom: 4rem; }

.btn {
  color: #fcfcfc;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in all;
  transition: 0.15s ease-in all; }
  .btn:hover {
    background-color: #6cd1ff; }
  .btn:active {
    background-color: #fcfcfc;
    color: #000; }

.btn-blue {
  background-color: #4FC3F7; }

.btn-faded {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding-left: 0;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-weight: bold; }
  .btn-faded:hover {
    background-color: transparent;
    color: #000; }

.btn-left {
  width: inherit;
  text-align: center; }

.btn-blog {
  width: 16rem;
  bottom: 8px;
  font-style: normal;
  color: #000;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (max-width: 106.25em) {
    .btn-blog {
      margin-top: 3rem; } }

.card_3up_container, .card_2up_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 56.25em) {
    .card_3up_container, .card_2up_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.card_2up {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 56.25em) {
    .card_2up {
      width: 100%; } }
  .card_2up__image {
    margin: auto; }

.card_3up, .card_3up-project, .card_3up-standard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.5rem;
  margin: 0 3rem 3rem 3rem;
  width: 33.3%;
  -webkit-transition: all 0.2 ease-in;
  transition: all 0.2 ease-in;
  overflow: hidden; }
  @media (max-width: 75em) {
    .card_3up, .card_3up-project, .card_3up-standard {
      margin: 0;
      padding: 0; } }
  @media (max-width: 56.25em) {
    .card_3up, .card_3up-project, .card_3up-standard {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .card_3up_image, .card_3up_image-project, .card_3up-project_image, .card_3up-project_image-project, .card_3up-standard_image, .card_3up-standard_image-project {
    width: 100%;
    max-width: 280px;
    max-height: 280px;
    display: block;
    margin: 0 auto; }
  .card_3up_image-project, .card_3up-project_image-project, .card_3up-standard_image-project {
    max-width: 700px;
    max-height: 360px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .card_3up:hover .card_3up_image-project, .card_3up-project:hover .card_3up_image-project, .card_3up-standard:hover .card_3up_image-project, .card_3up:hover .card_3up-project_image-project, .card_3up-project:hover .card_3up-project_image-project, .card_3up-standard:hover .card_3up-project_image-project, .card_3up:hover .card_3up-standard_image-project, .card_3up-project:hover .card_3up-standard_image-project, .card_3up-standard:hover .card_3up-standard_image-project {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  @media (min-width: 75em) {
    .card_3up:hover .project-description, .card_3up-project:hover .project-description, .card_3up-standard:hover .project-description {
      opacity: 1;
      height: 20%; } }
  .card_3up_link, .card_3up-project_link, .card_3up-standard_link {
    color: inherit;
    text-decoration: none; }
  .card_3up_link:hover .btn.btn-faded, .card_3up-project_link:hover .btn.btn-faded, .card_3up-standard_link:hover .btn.btn-faded {
    color: #000; }
  .card_3up_header, .card_3up__title, .card_3up-project_header, .card_3up-project__title, .card_3up-standard_header, .card_3up-standard__title {
    font-size: 3rem;
    width: 90%; }
    @media (max-width: 37.5em) {
      .card_3up_header, .card_3up__title, .card_3up-project_header, .card_3up-project__title, .card_3up-standard_header, .card_3up-standard__title {
        font-size: 2.5rem; } }
    @media (max-width: 27em) {
      .card_3up_header, .card_3up__title, .card_3up-project_header, .card_3up-project__title, .card_3up-standard_header, .card_3up-standard__title {
        font-size: 2rem; } }
  .card_3up_primary, .card_3up-project_primary, .card_3up-standard_primary {
    color: #2196F3;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 2rem; }

.card_3up-project {
  padding: 0;
  margin: 0; }
  .card_3up-project a {
    width: 100%; }
  @media (max-width: 100em) {
    .card_3up-project {
      width: 50%; } }
  @media (max-width: 56.25em) {
    .card_3up-project {
      width: 100%; } }

.card_3up-standard {
  margin: 1rem;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card_3up-standard__link {
    color: inherit;
    text-decoration: none; }
  .card_3up-standard__title {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-top: 1rem;
    font-size: 2.5rem; }
  .card_3up-standard__highlight-band {
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (max-width: 106.25em) {
      .card_3up-standard__highlight-band {
        display: none; } }
  .card_3up-standard:hover .card_3up-standard__highlight-band {
    background-color: #2196F3; }
  .card_3up-standard .btn-blog:hover {
    background-color: #2196F3;
    color: #fcfcfc; }
  .card_3up-standard:active .card_3up-standard__highlight-band {
    background-color: #6cd1ff; }
  .card_3up-standard__image {
    display: block;
    width: 100%;
    height: 360px;
    max-height: 360px;
    max-width: 540px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 auto; }
    @media (max-width: 100em) {
      .card_3up-standard__image {
        height: 100%; } }
  .card_3up-standard__articledate {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.5); }
  .card_3up-standard__description {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #333;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin-bottom: 2rem; }

@media (max-width: 106.25em) {
  .card_3up-standard.card_3up_drop {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.backtotop {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #2196F3;
  color: #fcfcfc;
  font-size: 1.5rem;
  padding: 1.5rem;
  opacity: 0;
  z-index: 2;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out; }
  .backtotop .fa-arrow-up {
    display: block;
    text-align: center; }

.nav-logo-container, .nav-logo-container-project, .nav-logo-container-blog {
  position: absolute;
  z-index: 1002;
  top: 7%;
  left: 6%; }
  @media (max-width: 43.75em) {
    .nav-logo-container, .nav-logo-container-project, .nav-logo-container-blog {
      top: 4%; } }
  .nav-logo-container__logo, .nav-logo-container-project__logo, .nav-logo-container-blog__logo {
    display: inline-block;
    max-width: 64px;
    max-height: 64px;
    border-radius: 3px;
    margin-top: 5.5%;
    margin-left: 10%; }
    @media (max-width: 43.75em) {
      .nav-logo-container__logo, .nav-logo-container-project__logo, .nav-logo-container-blog__logo {
        margin-top: 0;
        margin-left: 0; } }

@media (max-width: 43.75em) {
  .nav-logo-container-project, .nav-logo-container-blog {
    top: 4%; } }

@media (max-width: 43.75em) {
  .nav-logo-container-project__logo, .nav-logo-container-blog__logo {
    margin-top: 0; } }

.desktop-navigation, .desktop-navigation-project, .desktop-navigation-blog {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 4; }
  @media (max-width: 75em) {
    .desktop-navigation, .desktop-navigation-project, .desktop-navigation-blog {
      display: none; } }
  .desktop-navigation__card_2up, .desktop-navigation-project__card_2up, .desktop-navigation-blog__card_2up {
    width: 50%; }
  .desktop-navigation__list, .desktop-navigation-project__list, .desktop-navigation-blog__list {
    display: inline-block;
    position: relative;
    left: 10%;
    margin-top: 5.5rem; }
    .desktop-navigation__list a, .desktop-navigation-project__list a, .desktop-navigation-blog__list a {
      display: inline-block;
      margin: 3rem;
      position: relative;
      padding: 0.2rem;
      font-size: 2.3rem;
      color: #fcfcfc;
      list-style-type: none;
      text-decoration: none;
      -webkit-transition: all 0.15s ease-in-out 0s;
      transition: all 0.15s ease-in-out 0s; }
      .desktop-navigation__list a:before, .desktop-navigation-project__list a:before, .desktop-navigation-blog__list a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #fafafa;
        visibility: hidden;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: all 0.15s ease-in-out 0s;
        transition: all 0.15s ease-in-out 0s; }
      .desktop-navigation__list a:hover:before, .desktop-navigation-project__list a:hover:before, .desktop-navigation-blog__list a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }
      .desktop-navigation__list a:after, .desktop-navigation-project__list a:after, .desktop-navigation-blog__list a:after {
        content: ''; }
      .desktop-navigation__list a:hover, .desktop-navigation-project__list a:hover, .desktop-navigation-blog__list a:hover {
        color: #000; }
      .desktop-navigation__list a:active, .desktop-navigation-project__list a:active, .desktop-navigation-blog__list a:active {
        color: #fcfcfc; }

.desktop-navigation-project {
  position: relative; }
  @media (max-width: 75em) {
    .desktop-navigation-project {
      display: none; } }

.hamburgermenu {
  display: none; }
  @media (max-width: 75em) {
    .hamburgermenu {
      display: block; } }
  .hamburgermenu__checkbox {
    display: none; }
  .hamburgermenu__button {
    background-color: #fcfcfc;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 1002;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 43.75em) {
      .hamburgermenu__button {
        top: 3rem;
        right: 3rem; } }
    @media (max-width: 27em) {
      .hamburgermenu__button {
        top: 2.5rem;
        right: 2.5rem; } }
  .hamburgermenu__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#4FC3F7, #2196F3);
    z-index: 1000;
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s; }
    @media (max-width: 43.75em) {
      .hamburgermenu__background {
        top: 3.5rem;
        right: 3.5rem; } }
    @media (max-width: 27em) {
      .hamburgermenu__background {
        top: 3rem;
        right: 3rem; } }
  .hamburgermenu__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0;
    width: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburgermenu__list {
    position: absolute;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .hamburgermenu__item {
    margin: 1rem; }
  .hamburgermenu__link:link, .hamburgermenu__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fcfcfc;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fcfcfc 50%);
    background-size: 220%;
    -webkit-transition: all .4s;
    transition: all .4s; }
  .hamburgermenu__link:hover, .hamburgermenu__link:active {
    background-position: 100%;
    color: #2196F3;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  .hamburgermenu__checkbox:checked ~ .hamburgermenu__background {
    -webkit-transform: scale(80);
            transform: scale(80); }
  .hamburgermenu__checkbox:checked ~ .hamburgermenu__nav {
    opacity: 1;
    width: 100%;
    visibility: visible; }
  .hamburgermenu__icon {
    position: relative;
    margin-top: 3.5rem; }
    .hamburgermenu__icon, .hamburgermenu__icon::before, .hamburgermenu__icon::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: #999; }
    .hamburgermenu__icon::before, .hamburgermenu__icon::after {
      content: '';
      position: absolute;
      left: 0;
      -webkit-transition: all .2s;
      transition: all .2s; }
    .hamburgermenu__icon::before {
      top: -.8rem; }
    .hamburgermenu__icon::after {
      top: .8rem; }
  .hamburgermenu__button:hover .hamburgermenu__icon::before {
    top: -1rem; }
  .hamburgermenu__button:hover .hamburgermenu__icon::after {
    top: 1rem; }
  .hamburgermenu__checkbox:checked + .hamburgermenu__button .hamburgermenu__icon {
    background-color: transparent; }
  .hamburgermenu__checkbox:checked + .hamburgermenu__button .hamburgermenu__icon::before {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .hamburgermenu__checkbox:checked + .hamburgermenu__button .hamburgermenu__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }

.footer-container {
  background-color: #fcfcfc;
  margin-top: 8rem;
  padding: 5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #333;
  font-size: 16px; }
  .footer-container__copyright {
    display: inline-block;
    margin-bottom: 1rem; }
  .footer-container__socialmedia-list {
    display: block;
    font-size: 24px; }
  .footer-container__socialmedia-list li {
    display: inline-block;
    margin-left: 2rem; }
  .footer-container__socialmedia-list a {
    color: #333;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .footer-container__socialmedia-list a:hover {
      color: #2196F3; }
    .footer-container__socialmedia-list a:active {
      color: #6cd1ff; }

.home-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2196F3;
  height: calc(109vh - 6rem);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 75em) {
    .home-header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-height: 38.06em) {
    .home-header {
      height: calc(140vh - 6rem); } }
  @media (max-height: 32.81em) {
    .home-header {
      height: calc(160vh - 6rem); } }
  @media (max-height: 25em) {
    .home-header {
      height: 200vh; } }
  .home-header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 35rem;
    margin-top: 25rem; }
    @media (max-width: 75em) {
      .home-header__container {
        margin-right: 0; } }
    @media (max-width: 27em) {
      .home-header__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .home-header__container__title {
      font-size: 9rem;
      color: #fcfcfc;
      font-weight: normal; }
      @media (max-width: 56.25em) {
        .home-header__container__title {
          font-size: 4rem; } }
      .home-header__container__title-name {
        display: block;
        font-size: 10rem;
        font-weight: bold; }
        @media (max-width: 56.25em) {
          .home-header__container__title-name {
            font-size: 6rem; } }
        @media (max-width: 37.5em) {
          .home-header__container__title-name {
            font-size: 5rem; } }
        @media (max-width: 27em) {
          .home-header__container__title-name {
            font-size: 4.5rem; } }
    .home-header__container__button {
      font-size: 1.8rem;
      margin-top: 4rem;
      margin-bottom: 3rem;
      border-radius: 3rem;
      padding: 1.2rem 5rem 1.2rem 5rem;
      -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
    .home-header__container__description-title {
      font-size: 2.5rem;
      font-weight: lighter;
      color: #fcfcfc;
      margin-top: 2.5rem; }
      @media (max-width: 27em) {
        .home-header__container__description-title {
          font-size: 1.75rem; } }
    .home-header__container__socialmedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .home-header__container__socialmedia span {
        font-size: 1.7rem;
        text-transform: lowercase;
        color: rgba(255, 255, 255, 0.7);
        letter-spacing: 0.12rem; }
      .home-header__container__socialmedia-list {
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.7); }
        .home-header__container__socialmedia-list li {
          display: inline-block;
          margin-left: 1.5rem; }
        .home-header__container__socialmedia-list a {
          color: rgba(255, 255, 255, 0.7);
          -webkit-transition: 0.15s all ease-in;
          transition: 0.15s all ease-in; }
          .home-header__container__socialmedia-list a:hover {
            color: #6cd1ff; }
          .home-header__container__socialmedia-list a:active {
            color: #fcfcfc; }

.experience-container, .about-container, .projects-container, .blog-container, .blog-container-article {
  position: relative;
  background-color: transparent;
  height: 90vh;
  margin: 0 6rem 0 6rem; }
  @media (max-width: 56.25em) {
    .experience-container, .about-container, .projects-container, .blog-container, .blog-container-article {
      margin: 0 3rem 0 3rem; } }
  @media (max-width: 27em) {
    .experience-container, .about-container, .projects-container, .blog-container, .blog-container-article {
      margin: 0 1.5rem 0 1.5rem; } }
  .experience-container__inner-container, .about-container__inner-container, .projects-container__inner-container, .blog-container__inner-container, .blog-container-article__inner-container {
    position: relative;
    padding: 5rem;
    width: 100%;
    height: 100%;
    background-color: #fcfcfc;
    top: -6rem;
    z-index: 1;
    border: 0;
    -webkit-box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.13);
            box-shadow: 0 0rem 3rem rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.13);
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .experience-container__inner-container, .about-container__inner-container, .projects-container__inner-container, .blog-container__inner-container, .blog-container-article__inner-container {
        padding: 3rem;
        top: -4rem; } }
    @media (max-width: 27em) {
      .experience-container__inner-container, .about-container__inner-container, .projects-container__inner-container, .blog-container__inner-container, .blog-container-article__inner-container {
        padding: 2rem; } }
    .experience-container__inner-container__section-title, .experience-container__inner-container-title, .about-container__inner-container__section-title, .about-container__inner-container-title, .projects-container__inner-container__section-title, .projects-container__inner-container-title, .blog-container__inner-container__section-title, .blog-container__inner-container-title, .blog-container-article__inner-container__section-title, .blog-container-article__inner-container-title {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: lighter;
      text-transform: uppercase; }
    .experience-container__inner-container__header, .experience-container__inner-container__header-secondary, .about-container__inner-container__header, .about-container__inner-container__header-secondary, .projects-container__inner-container__header, .projects-container__inner-container__header-secondary, .blog-container__inner-container__header, .blog-container__inner-container__header-secondary, .blog-container-article__inner-container__header, .blog-container-article__inner-container__header-secondary {
      font-size: 5rem; }
      @media (max-width: 75em) {
        .experience-container__inner-container__header, .experience-container__inner-container__header-secondary, .about-container__inner-container__header, .about-container__inner-container__header-secondary, .projects-container__inner-container__header, .projects-container__inner-container__header-secondary, .blog-container__inner-container__header, .blog-container__inner-container__header-secondary, .blog-container-article__inner-container__header, .blog-container-article__inner-container__header-secondary {
          font-size: 4.5rem; } }
      @media (max-width: 56.25em) {
        .experience-container__inner-container__header, .experience-container__inner-container__header-secondary, .about-container__inner-container__header, .about-container__inner-container__header-secondary, .projects-container__inner-container__header, .projects-container__inner-container__header-secondary, .blog-container__inner-container__header, .blog-container__inner-container__header-secondary, .blog-container-article__inner-container__header, .blog-container-article__inner-container__header-secondary {
          font-size: 3.7rem; } }
      @media (max-width: 37.5em) {
        .experience-container__inner-container__header, .experience-container__inner-container__header-secondary, .about-container__inner-container__header, .about-container__inner-container__header-secondary, .projects-container__inner-container__header, .projects-container__inner-container__header-secondary, .blog-container__inner-container__header, .blog-container__inner-container__header-secondary, .blog-container-article__inner-container__header, .blog-container-article__inner-container__header-secondary {
          font-size: 3rem; } }
      @media (max-width: 27em) {
        .experience-container__inner-container__header, .experience-container__inner-container__header-secondary, .about-container__inner-container__header, .about-container__inner-container__header-secondary, .projects-container__inner-container__header, .projects-container__inner-container__header-secondary, .blog-container__inner-container__header, .blog-container__inner-container__header-secondary, .blog-container-article__inner-container__header, .blog-container-article__inner-container__header-secondary {
          font-size: 2.5rem; } }

.experience-container, .about-container {
  height: 100%; }

.about-container__inner-container {
  top: 0;
  margin-bottom: 2rem;
  padding: 0;
  margin: 0; }
  .about-container__inner-container__2up .card_2up {
    padding: 3rem; }
    @media (max-width: 75em) {
      .about-container__inner-container__2up .card_2up {
        padding: 2rem; } }
  .about-container__inner-container__2up-image {
    width: 50%; }
    @media (max-width: 87.5em) {
      .about-container__inner-container__2up-image {
        width: 70%; } }
    @media (max-width: 56.25em) {
      .about-container__inner-container__2up-image {
        width: 50%; } }
    @media (max-width: 43.75em) {
      .about-container__inner-container__2up-image {
        width: 60%; } }
    @media (max-width: 37.5em) {
      .about-container__inner-container__2up-image {
        width: 85%; } }
  .about-container__inner-container__2up__about-paragraph {
    width: 75%;
    line-height: 1.58;
    letter-spacing: -.003em;
    margin: 0 auto;
    font-size: 1.8rem; }
    @media (max-width: 87.5em) {
      .about-container__inner-container__2up__about-paragraph {
        width: 100%; } }
    @media (max-width: 62.5em) {
      .about-container__inner-container__2up__about-paragraph {
        font-size: 1.6rem; } }
    @media (max-width: 56.25em) {
      .about-container__inner-container__2up__about-paragraph {
        width: 80%; } }
    @media (max-width: 37.5em) {
      .about-container__inner-container__2up__about-paragraph {
        width: 100%; } }
  .about-container__inner-container__2up__about-paragraph:after {
    content: '';
    display: block;
    margin-top: 2rem; }
  .about-container__inner-container__skills-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 87.5em) {
      .about-container__inner-container__skills-container > div {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-flex: 1;
            -ms-flex: 1 0;
                flex: 1 0;
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .about-container__inner-container__skills-container > div:last-child {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        width: 100%; } }
    @media (max-width: 43.75em) {
      .about-container__inner-container__skills-container > div {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .about-container__inner-container__skills-container-title {
      text-align: center;
      margin-top: 2rem;
      font-size: 3.2rem;
      letter-spacing: -.003em; }
    .about-container__inner-container__skills-container-proficient, .about-container__inner-container__skills-container-intermediate, .about-container__inner-container__skills-container-entry, .about-container__inner-container__skills-container-libraries, .about-container__inner-container__skills-container-principles, .about-container__inner-container__skills-container-software {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .about-container__inner-container__skills-container-proficient ul, .about-container__inner-container__skills-container-intermediate ul, .about-container__inner-container__skills-container-entry ul, .about-container__inner-container__skills-container-libraries ul, .about-container__inner-container__skills-container-principles ul, .about-container__inner-container__skills-container-software ul {
        list-style-type: none;
        font-size: 1.6rem; }
      .about-container__inner-container__skills-container-proficient h4, .about-container__inner-container__skills-container-intermediate h4, .about-container__inner-container__skills-container-entry h4, .about-container__inner-container__skills-container-libraries h4, .about-container__inner-container__skills-container-principles h4, .about-container__inner-container__skills-container-software h4 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem; }

.projects-container {
  height: 100%;
  margin: 0; }
  .projects-container__inner-container {
    padding: 0;
    top: 0; }
    .projects-container__inner-container__3up {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      @media (max-width: 56.25em) {
        .projects-container__inner-container__3up {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
    .projects-container__inner-container__section-title {
      margin-top: 5rem;
      margin-bottom: 5rem;
      text-align: center;
      font-size: 5rem;
      text-transform: none;
      font-weight: bold; }
    .projects-container__inner-container .project-description {
      display: inline-block;
      position: absolute;
      height: 10%;
      opacity: 0;
      bottom: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
      text-align: center;
      font-size: 2rem;
      color: #ebebeb;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      @media (max-width: 75em) {
        .projects-container__inner-container .project-description {
          height: 25%;
          opacity: 1; } }
      @media (max-width: 56.25em) {
        .projects-container__inner-container .project-description {
          height: 20%; } }
      @media (max-width: 37.5em) {
        .projects-container__inner-container .project-description {
          height: 30%; } }
      @media (max-width: 27em) {
        .projects-container__inner-container .project-description {
          height: 45%; } }

.blog-container {
  height: 100%;
  margin-bottom: 2rem;
  top: 0; }
  .blog-container__inner-container {
    margin-top: 8rem;
    top: 0; }
    @media (max-width: 56.25em) {
      .blog-container__inner-container {
        padding: 1.5rem; } }
    .blog-container__inner-container__header {
      margin-bottom: 2rem; }
    @media (max-width: 106.25em) {
      .blog-container__inner-container__3up.card_3up_container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .blog-container__inner-container__3up.card_3up_container .card_3up-standard {
          -webkit-box-flex: 1;
              -ms-flex: 1 0;
                  flex: 1 0;
          -ms-flex-preferred-size: 48%;
              flex-basis: 48%;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .blog-container__inner-container__3up.card_3up_container .card_3up-standard.card_3up_drop {
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
    @media (max-width: 37.5em) {
      .blog-container__inner-container__3up.card_3up_container .card_3up-standard {
        margin-bottom: 2rem; } }

.nav-blog .desktop-navigation-blog {
  position: relative;
  background-color: #2196F3;
  padding-bottom: 5rem; }

.blog-container-article {
  height: 100%;
  z-index: 10; }
  .blog-container-article__inner-container {
    top: -4rem; }
    .blog-container-article__inner-container__header {
      margin: 2rem 0; }
    @media (max-width: 75em) {
      .blog-container-article__inner-container {
        margin-top: 14rem;
        padding: 3rem; } }
    @media (max-width: 43.75em) {
      .blog-container-article__inner-container {
        padding: 2rem; } }
    .blog-container-article__inner-container__section {
      width: 50%;
      margin: 2rem auto; }
      @media (max-width: 100em) {
        .blog-container-article__inner-container__section {
          width: 85%; } }
      @media (max-width: 87.5em) {
        .blog-container-article__inner-container__section {
          width: 100%; } }
      .blog-container-article__inner-container__section-image {
        width: 100%;
        height: 100%; }
        @media (max-width: 43.75em) {
          .blog-container-article__inner-container__section-image {
            display: none; } }
      .blog-container-article__inner-container__section-sectionheader {
        font-size: 3rem;
        width: 90%; }
        @media (max-width: 75em) {
          .blog-container-article__inner-container__section-sectionheader {
            font-size: 2.4rem; } }
        @media (max-width: 56.25em) {
          .blog-container-article__inner-container__section-sectionheader {
            width: 100%; } }
      .blog-container-article__inner-container__section-sectionparagraph {
        font-size: 2.1rem;
        line-height: 1.58;
        letter-spacing: -.003em;
        margin: 2rem 0; }
        @media (max-width: 75em) {
          .blog-container-article__inner-container__section-sectionparagraph {
            font-size: 1.6rem; } }
      .blog-container-article__inner-container__section-sectionpre {
        display: block;
        font-size: 2rem;
        padding: 9.5px;
        margin: 0 0 10px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: auto; }
        @media (max-width: 100em) {
          .blog-container-article__inner-container__section-sectionpre {
            font-size: 1.6rem; } }
        @media (max-width: 75em) {
          .blog-container-article__inner-container__section-sectionpre {
            font-size: 1.4rem; } }
