*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

.home-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2196F3;
  height: 70vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .home-header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 35rem;
    margin-top: 15rem; }
    .home-header__container__title {
      font-size: 8rem;
      font-weight: lighter;
      color: #fff; }
      .home-header__container__title-name {
        display: block;
        font-size: 9rem;
        font-weight: bold; }
    .home-header__container__description-title {
      font-size: 2rem;
      font-weight: lighter;
      color: #fff;
      margin-top: 2.5rem; }
