
body {
    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFCC80 , #EF9A9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFCC80 , #EF9A9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}
.materialogin-container {
  margin: 100px;
  height: 700px;
}
.credit {
    text-align: center;
    font-size: 18px;
}
.credit a {
    text-decoration: none;
}
.userloginform a {
    text-decoration: none;
}
.userloginform {
    margin: 0 auto;
    width: 50%;
    background-color: #30302F;
    margin-top: 100px;
    width: 450px;
    height: 365px;
    border: 2px solid #403F3E;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.9),0 1px 1px 0 rgba(0,0,0,.9),0 2px 1px -1px rgba(0,0,0,.9);
}
.userloginform p {
    position: relative;
    right: 45px;
    top: -15px;
    text-align: right;
}
span.glyphicon-user, span.glyphicon-lock {
    color: white;
    position: absolute;
    font-size: 24px;
    left: 25px;
    top: 15px;
}
.logintitle {
    padding: 10px 0;
    background-color: #242423;
    color: white;
}
.logintitle h2 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 18px;
}
.group {
    position: relative;
    margin-bottom: 45px;
}
.userloginform form {
    margin-top: 30px;

}
.userloginform input {
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid grey;
    background-color: #30302F;
    color: white;
}
.userloginform input:focus {
    outline: none;
    border-bottom: 1px solid #EF5350;
}
#submit {
    background-color: #3B3A39;
    border: 2px solid #403F3E;
    box-shadow: 0 0 5px black;
}
#submit:hover, #submit:active {
    color: #EF5350;
}
.userloginform label {
    text-align: center;
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: -110px;
    top: 10px;
    right: 0px;
    transition: 0.2s ease all;
}

.userloginform input:focus ~ label, .userloginform input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #EF9A9A;
}
@media screen and (max-width: 767px) {
  .userloginform {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .glyphicon.glyphicon-lock {
    display: none;
  }
  .glyphicon.glyphicon-user {
    display: none;
  }
}
@media screen and (max-width:550px) {
  .materialogin-container {
    margin: 25px;
  }
  .userloginform input {
    width: 80%
  }
  #submit {
    width: 50%;
  }
}
@media screen and (max-width: 440px) {
    .userloginform  {
        margin-top: 10px;
    }
    .userloginform label {
      left: -87px;
    }
}
@media screen and (max-width:390px) {
  .userloginform label {
    left: -68px;
  }
}
