.catalog-links > ul {
    margin-left: 0;
    margin-right: 0;
}

/* a top level navigation item in the mega menu */
.catalog-links > ul > li > a  {
    text-transform: lowercase;
}
.bt-nav-menu {
    margin-bottom: 0;
    z-index: 999;
}
.bt-nav-item {
    list-style: none;
    display: inline-block;
    margin: 0;
}
/* first descendant link within a top level navigation item */
.bt-nav-item > a {
    position: relative;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 0 0 -1px 0;
    border: 1px solid transparent;
}

/* focus/open states of first descendant link within a top level 
   navigation item */
a.nav-item > a:focus,
.bt-nav-item > a.open {
    border: 1px solid #dedede;
}

/* open state of first descendant link within a top level 
   navigation item */
.bt-nav-item > a.open {
    background-color: #fff;
    border-bottom: none;
    z-index: 1;
}

/* sub-navigation panel */
.bt-sub-nav {
    position: absolute;
    width: 60%;
    visibility: hidden;
    top: 3.25em;
    margin-top: -1px;
    padding: 0.5em 1em;
    border: 1px solid #dedede;
    background-color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in;
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

/* sub-navigation panel open state */
.bt-sub-nav.open {
    display: block;
}

/* list of items within sub-navigation panel */
.bt-sub-nav ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
    padding: 0;
}

/* list item within sub-navigation panel */
.bt-sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.open {
    visibility: visible;
    opacity: 1;
}
/*************************/
a.special {
    margin-top: 25px;
}
.breakline {
    display: block;
}
.bt-nav-group-topheading {
    margin: 0;
    line-height: 20px;
}
a {
    text-decoration: none;
}
body {
    line-height: 1.4;
}
@media (pointer:coarse) {
    .bt-sub-nav {
        max-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}